.main {
    
    margin: 50px;
    margin-top: 150px;
    text-align: center;
}

h1 {
    font-family: AkiraExpanded, sans-serif;
    color: white;
    font-size: 40pt;
}

p {
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 10pt;
}