.wrapper {
	margin-top: 100px;
    white-space: nowrap;
    overflow-x: scroll;
    padding-bottom: 300px;
}

.col1:hover,
.col2:hover,
.col3:hover,
.col4:hover {
	background-color: rgba(110, 133, 172, 0.4);
}

.col1,
.col2,
.col3,
.col4 {
	position: relative;
	margin: 10px;
	text-align: center;
	color: white;
	display: inline-block;
	background-color: rgba(99, 117, 151, 0.3);
	transition: all 0.2s ease 0s;
}

.col1 {
	width: 160px
}

.col2 {
	width: 280px;
}

.col3 {
	width: 320px;
}

.col4 {
	width: 340px;
}

.mainImage {
	height: 112px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile {
	max-height: 100px;
	margin: 0;
}

.col1 .profile,
.col2 .profile,
.col3 .profile,
.col4 .profile {
	padding: 15px;
}

.col1 .profile {
	max-width: 155px;
}

.col2 .profile {
	max-width: 255px;
}

.col3 .profile {
	max-width: 285px;
}

.col4 .profile {
	max-width: 335px;
}

.weaponText {
	direction: rtl;
	bottom: 0;
	width: 100%;
}

.meleeDiv {
	margin-left: 520px;
}

.buttons button {
	display: inline-block;
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 8pt;
	letter-spacing: 0.5pt;
	background-color: rgba(157, 173, 207, 0.25);
	border: none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	margin: 5px;
	width: 50px;
}

.buttons button:hover {
	background-color: rgba(157, 173, 207, 0.40);
	cursor: pointer;
}

.buttons {
	display: inline-block;
	vertical-align: top;
    margin: 5px;
}