body {
	text-align: center;
}

.wrapper {
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 8pt;
	letter-spacing: 0.5pt;
	white-space: nowrap;
}

.col1:hover,
.col2:hover,
.col3:hover,
.col4:hover {
	background-color: rgba(110, 133, 172, 0.4);
}

.col1,
.col2,
.col3,
.col4 {
	position: relative;
	margin: 10px;
	text-align: center;
	color: white;
	display: inline-block;
	background-color: rgba(99, 117, 151, 0.3);
}

.col1 {
	width: 160px
}

.col2 {
	width: 280px;
}

.col3 {
	width: 320px;
}

.col4 {
	width: 340px;
}

.mainImage {
	height: 112px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile {
	max-height: 80px;
	margin: 0;
}

.col1 .profile {
	max-width: 130px;
	padding: 15px;
	object-fit: cover;
}

.col2 .profile {
	max-width: 230px;
	padding: 15px;
}

.col3 .profile {
	max-width: 290px;
	padding: 15px;
}

.col4 .profile {
	max-width: 310px;
	padding: 15px;
}

.weaponText {
	direction: rtl;
	bottom: 0;
	width: 100%;
}

.meleeDiv {
	margin-left: 535px;
}

button {
	display: inline-block;
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 8pt;
	letter-spacing: 0.5pt;
	background-color: rgba(157, 173, 207, 0.25);
	border: none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	margin: 5px;
}

button:hover {
	background-color: rgba(157, 173, 207, 0.40);
	cursor: pointer;
}

.buttons {
	display: inline-block;
	vertical-align: top;
    margin: 5px;
}