ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    z-index: 1;
}
ul li {
    position: relative;
}

li ul {
    display: none;
}
.col1 ul li a {
    display: block;
    padding: 2px 16px;
    width: 171px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(84, 103, 143, 0.75)
}

.col2 ul li a {
    display: block;
    padding: 2px 16px;
    width: 281px;
    text-decoration: none;
    color: #fff;
    background-color: #54678f
}

.col3 ul li a {
    display: block;
    padding: 2px 16px;
    width: 316px;
    text-decoration: none;
    color: #fff;
    background-color: #54678f
}

.col4 ul li a {
    display: block;
    padding: 2px 16px;
    width: 125px;
    text-decoration: none;
    color: #fff;
    background-color: #54678f
}


ul li a:hover {
    background: #2c3750;
}
li:hover > ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: left;
}

li:hover li a:hover {
    background: #2c3e50;
}

ul ul ul {
    left: 100%;
    top: 0;
    width: fit-content;
}
ul:before, ul:after {
    content: " ";
    display: table;
}
ul:after {
    clear: both;
}

li a img {
    display: block;
    max-height: 35px;
    height: auto;
    padding: 5px;
    margin: auto;
}

.col1 .noHover:hover {
    background-color: rgba(151, 176, 240, 0.25);
    width: 171px;
}

.col1 .noHover {
    width: 171px;
    background-color: rgba(151, 176, 240, 0.25);
}

.col2 .noHover:hover {
    background-color: rgba(151, 176, 240, 0.25);
    width: 281px;
}

.col2 .noHover {
    width: 281px;
    background-color: rgba(151, 176, 240, 0.25);
}

.col3 .noHover:hover {
    background-color: rgba(151, 176, 240, 0.25);
    width: 316px;
}

.col3 .noHover {
    width: 316px;
    background-color: rgba(151, 176, 240, 0.25);
}

.col4 .noHover:hover {
    background-color: rgba(151, 176, 240, 0.25);
    width: 281px;
}

.col4 .noHover {
    width: 281px;
    background-color: rgba(151, 176, 240, 0.25);
}

ul li ul {
    max-height:275px;
    overflow-y: overlay;
 }

 ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }