@font-face {
	font-family: AkiraExpanded;
	src: "AkiraExpanded.otf";
	src: url("AkiraExpanded.otf") format('embedded-opentype'), url("AkiraExpanded.otf") format('woff'), url("AkiraExpanded.otf") format('truetype');
	font-style: normal;
}

html {
	background-color: #314870;
	background-image: url("images/CollectionBackground.png");
	background-size: cover;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

header {
	background-color: #12161f;
	margin-bottom: 20px;
}

nav li,
nav a,
header button {
	font-family: AkiraExpanded;
	color: #adadad;
	font-size: 16px;
}

.navLinks {
	list-style: none;
}

.navLinks li {
	display: inline-block;
	padding: 0 20px;
}

.navLinks li a {
	transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
	color: white;
}

.login button {
	padding: 10px 25px;
	color: white;
	background-color: rgba(157, 173, 207, 0.40);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(255, 94, 94, 0.75);
}

.selected {
	color: white;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10%;
}

.logo {
	height: 40px;
	cursor: pointer;
}

.menu {
	width: fit-content;
}

.logo img {
	height: 40px;
}

.logo,
.menu,
.login {
	vertical-align: middle;
	display: table-cell;
}

.menu ul {
	text-align: center;
}

.menu ul li {
	font-family: AkiraExpanded;
	font-weight: 200;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
}

.login ul {
	justify-content: space-between;
	width: fit-content;
}

.login ul li {
	font-family: AkiraExpanded;
	font-weight: 200;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
}

.menu a {
	color: #adadad;
}

.menu a:hover {
	color: white;
}

.menu a:visited {
	text-decoration: none;
}

.menu .current {
	color: #ffffff;
}

.login a {
	color: #adadad;
}

.login a:hover {
	color: white;
}

.login a:visited {
	text-decoration: none;
}

.login .current {
	color: #ffffff;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	font-size: 12pt;
	margin: 0;
	margin-top: 300px;
	background-color: #12161f;
	text-align: center;
}

.footerContainer {
	box-sizing: border-box;
	padding: 30px;
	display: table;
	width: 100%;
	height: 60px;
}

.footerContainer p {
	color: #d1d1d1;
	font-family: Helvetica, sans-serif;
	font-weight: normal;
}

.footerContainer span {
	font-weight: bold;
}