@font-face {
	font-family: AkiraExpanded;
	src: "AkiraExpanded.otf";
	src: url("AkiraExpanded.otf") format('embedded-opentype'), url("AkiraExpanded.otf") format('woff'), url("AkiraExpanded.otf") format('truetype');
	font-style: normal;
}

html {
	background-color: #314870;
	background: url("images/CollectionBackground.png") no-repeat fixed;
	background-size: cover;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

header {
	background-color: #12161f;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10%;
}

.sticky {
	z-index: 10;
	position: fixed;
	top: 0;
	width: 100%
}

nav li,
nav a,
.loginButton button {
	font-family: AkiraExpanded;
	color: #adadad;
	font-size: 16px;
    line-height: normal;
}

.loginButton button {
	padding: 10px 25px;
	color: white;
	background-color: rgba(157, 173, 207, 0.40);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.loginButton button:hover {
	background-color: #ff5e5e;
	color: white;
}

.navLinks {
	list-style: none;
}

.navLinks li {
	display: inline-block;
	padding: 0 20px;
}

.navLinks li a {
	transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
	color: white;
}


.selected {
	color: white;
}

.logo {
	height: 40px;
	cursor: pointer;
}

.menu {
	width: fit-content;
}

.logo img {
	height: 40px;
}

.menu ul {
	text-align: center;
}

.menu ul li {
	font-family: AkiraExpanded;
	font-weight: 200;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
}

.login ul {
	justify-content: space-between;
	width: fit-content;
}

.login ul li {
	font-family: AkiraExpanded;
	font-weight: 200;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
}

.menu a {
	color: #adadad;
}

.menu a:hover {
	color: white;
}

.menu a:visited {
	text-decoration: none;
}

.menu .current {
	color: #ffffff;
}

.login a {
	color: #adadad;
}

.login a:hover {
	color: white;
}

.login a:visited {
	text-decoration: none;
}

.login .current {
	color: #ffffff;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

	text-align: center;
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 8pt;
	letter-spacing: 0.5pt;
}

footer {
	width: 100%;
	font-size: 12pt;
	margin: 0;
    margin-top: auto;
	background-color: #12161f;
	text-align: center;
}

.footerContainer {
	box-sizing: border-box;
	padding: 30px;
	width: 100%;
	height: 80px;
}

.footerContainer p {
	color: #d1d1d1;
	font-family: Helvetica, sans-serif;
	font-weight: normal;
}

.footerContainer span {
	font-weight: bold;
}